{% extends "!layout.html" %}

{% block extrahead %}
<meta name="google-site-verification" content="4TioYWJFEBXG8zheTR5wZ_xe4xetDIdQy-VrGNB4WrI" />
<meta name="msvalidate.01" content="A416C0755D3C5B690EE11BADDF79F4DE" />
    <meta name="description" content="To check your Walmart card balance, go to Walmart’s official gift card balance page, enter your 16-digit card number and 4-digit PIN, then click “Check Balance.”" />
    <meta name="keywords" content="Walmart Gift Card Balance, www.walmartgift.com, how to check Walmart gift card balance, check Walmart card balance online, check my Walmart card balance, walmartgift.com, how do you check your Walmart gift card balance, www.walmartgift.com check balance" />
    <meta name="robots" content="index, follow" />
    <title>Walmart gift card balance - Methods to Check My Walmart Gift Card Balance</title>
    {{ super() }}
{% endblock %}
